<a href="https://colab.research.google.com/github/juanpimedicen/Challenge_TelecomX/blob/main/TelecomX_LATAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#📌 Extracción

In [1]:
import pandas as pd
import requests

## Guardar el archivo desde la API en una variable manejable

In [2]:
url = 'https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'

In [3]:
resp = requests.get(url)
data= resp.json()

In [4]:
df = pd.json_normalize(data)
df.columns = [c.replace('.', '_') for c in df.columns]
df.head()

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,...,internet_OnlineBackup,internet_DeviceProtection,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

## Analizando y transformando el DataFrame

In [5]:
#Mostrar dimensiones del DataFrame
print(f"🔎 Dimensiones del DataFrame: {df.shape}")

#Nombres de columnas y tipos de datos
print("\n📋 Tipos de datos por columna:")
print(df.info())

#Verificar calores nulos
print("\n🧼 Conteo de valores nulos por columna:")
print(df.isnull().sum())

# Estadísticas descriptivas para columnas numéricas
print("\n📊 Estadísticas descriptivas:")
print(df.describe())

# Ver algunos valores únicos por columna categórica
print("\n🔠 Valores únicos por algunas columnas:")
for col in df:
    print(f"{col}: {df[col].unique()}")

🔎 Dimensiones del DataFrame: (7267, 21)

📋 Tipos de datos por columna:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer_gender            7267 non-null   object
 3   customer_SeniorCitizen     7267 non-null   int64
 4   customer_Partner           7267 non-null   object
 5   customer_Dependents        7267 non-null   object
 6   customer_tenure            7267 non-null   int64
 7   phone_PhoneService         7267 non-null   object
 8   phone_MultipleLines        7267 non-null   object
 9   internet_InternetService   7267 non-null   object
 10  internet_OnlineSecurity    7267 non-null   object
 11  internet_OnlineBackup      7267 non-null   object
 12  internet_DeviceProtection  7267 non-null   object
 13  internet_TechSupport       7267 non-null   object
 14  internet_StreamingTV       7267 non-null   object
 15  internet_StreamingMovies   7267 non-null   object
 16  account_Contract           7267 non-null   object
 17  account_PaperlessBilling   7267 non-null   object
 18  account_PaymentMethod      7267 non-null   object
 19  account_Charges_Monthly    7267 non-null   float64
 20  account_Charges_Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB
None

🧼 Conteo de valores nulos por columna:
customerID                   0
Churn                        0
customer_gender              0
customer_SeniorCitizen       0
customer_Partner             0
customer_Dependents          0
customer_tenure              0
phone_PhoneService           0
phone_MultipleLines          0
internet_InternetService     0
internet_OnlineSecurity      0
internet_OnlineBackup        0
internet_DeviceProtection    0
internet_TechSupport         0
internet_StreamingTV         0
internet_StreamingMovies     0
account_Contract             0
account_PaperlessBilling     0
account_PaymentMethod        0
account_Charges_Monthly      0
account_Charges_Total        0
dtype: int64

📊 Estadísticas descriptivas:
       customer_SeniorCitizen  customer_tenure  account_Charges_Monthly
count             7267.000000      7267.000000              7267.000000
mean                 0.162653        32.346498                64.720098
std                  0.369074        24.571773                30.129572
min                  0.000000         0.000000                18.250000
25%                  0.000000         9.000000                35.425000
50%                  0.000000        29.000000                70.300000
75%                  0.000000        55.000000                89.875000
max                  1.000000        72.000000               118.750000

🔠 Valores únicos por algunas columnas:
customerID: ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
Churn: ['No' 'Yes' '']
customer_gender: ['Female' 'Male']
customer_SeniorCitizen: [0 1]
customer_Partner: ['Yes' 'No']
customer_Dependents: ['Yes' 'No']
customer_tenure: [ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42
  0]
phone_PhoneService: ['Yes' 'No']
phone_MultipleLines: ['No' 'Yes' 'No phone service']
internet_InternetService: ['DSL' 'Fiber optic' 'No']
internet_OnlineSecurity: ['No' 'Yes' 'No internet service']
internet_OnlineBackup: ['Yes' 'No' 'No internet service']
internet_DeviceProtection: ['No' 'Yes' 'No internet service']
internet_TechSupport: ['Yes' 'No' 'No internet service']
internet_StreamingTV: ['Yes' 'No' 'No internet service']
internet_StreamingMovies: ['No' 'Yes' 'No internet service']
account_Contract: ['One year' 'Month-to-month' 'Two year']
account_PaperlessBilling: ['Yes' 'No']
account_PaymentMethod: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
account_Charges_Monthly: [65.6  59.9  73.9  ... 91.75 68.8  67.85]
account_Charges_Total: ['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']

In [6]:
# Ver columnas disponibles
print("📌 Columnas en el DataFrame:")
print(df.columns.tolist())

📌 Columnas en el DataFrame:
['customerID', 'Churn', 'customer_gender', 'customer_SeniorCitizen', 'customer_Partner', 'customer_Dependents', 'customer_tenure', 'phone_PhoneService', 'phone_MultipleLines', 'internet_InternetService', 'internet_OnlineSecurity', 'internet_OnlineBackup', 'internet_DeviceProtection', 'internet_TechSupport', 'internet_StreamingTV', 'internet_StreamingMovies', 'account_Contract', 'account_PaperlessBilling', 'account_PaymentMethod', 'account_Charges_Monthly', 'account_Charges_Total']

In [7]:
# Limpiar espacios en los nombres de columnas
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [8]:
# Renombrar columnas clave para facilitar su uso
df.rename(columns={
    'customerid': 'customer_id',
    'customer_gender': 'gender',
    'customer_seniorcitizen': 'senior_citizen',
    'customer_partner': 'partner',
    'customer_dependents': 'dependents',
    'customer_tenure': 'tenure',
    'phone_phoneservice': 'phone_service',
    'phone_multiplelines': 'multiple_lines',
    'internet_internetservice': 'internet_service',
    'internet_onlinesecurity': 'online_security',
    'internet_onlinebackup': 'online_backup',
    'internet_deviceprotection': 'device_protection',
    'internet_techsupport': 'tech_support',
    'internet_streamingtv': 'streaming_tv',
    'internet_streamingmovies': 'streaming_movies',
    'account_contract': 'contract',
    'account_paperlessbilling': 'paperless_billing',
    'account_paymentmethod': 'payment_method',
    'account_charges_monthly': 'monthly_charges',
    'account_charges_total': 'total_charges',
    'churn': 'churn'
}, inplace=True)

In [9]:
# Verificar nombres finales
print("✅ Columnas después del renombrado:")
print(df.columns.tolist())

✅ Columnas después del renombrado:
['customer_id', 'churn', 'gender', 'senior_citizen', 'partner', 'dependents', 'tenure', 'phone_service', 'multiple_lines', 'internet_service', 'online_security', 'online_backup', 'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing', 'payment_method', 'monthly_charges', 'total_charges']

In [10]:
# Revisión de valores únicos en columnas categóricas clave
cols_categoricas = ['gender', 'partner', 'dependents', 'phone_service', 'internet_service', 'contract', 'churn']
print("Columnas: Valores únicos")
for col in cols_categoricas:
    if col in df.columns:
        print(f"{col}: {df[col].unique()}")
    else:
        print(f"❌ La columna '{col}' no está presente.")

Columnas: Valores únicos
gender: ['Female' 'Male']
partner: ['Yes' 'No']
dependents: ['Yes' 'No']
phone_service: ['Yes' 'No']
internet_service: ['DSL' 'Fiber optic' 'No']
contract: ['One year' 'Month-to-month' 'Two year']
churn: ['No' 'Yes' '']

##Organizar y limpiar datos

In [11]:
import numpy as np

df['churn'] = df['churn'].replace('', np.nan)

In [12]:
print("🔎 Validamos nuevamente Valores nulos por columna:")
print(df.isnull().sum())

🔎 Validamos nuevamente Valores nulos por columna:
customer_id            0
churn                224
gender                 0
senior_citizen         0
partner                0
dependents             0
tenure                 0
phone_service          0
multiple_lines         0
internet_service       0
online_security        0
online_backup          0
device_protection      0
tech_support           0
streaming_tv           0
streaming_movies       0
contract               0
paperless_billing      0
payment_method         0
monthly_charges        0
total_charges          0
dtype: int64

In [13]:
# Eliminar filas sin valor en churn y mostrar nuevas dimensiones del df
df_clean = df.dropna(subset=['churn'])
print(f"✅ Nuevas dimensiones del dataset: {df_clean.shape}")

✅ Nuevas dimensiones del dataset: (7043, 21)

#🔧 Transformación

## Actividades:
✅ Explorar las columnas del dataset y verificar sus tipos de datos.

✅ Consultar el diccionario para comprender mejor el significado de las variables.

✅ Identificar las columnas más relevantes para el análisis de evasión.

In [14]:
# Selección de columnas relevantes para el análisis de churn
cols_relevantes = [
    'gender', 'senior_citizen', 'partner', 'dependents', 'tenure',
    'phone_service', 'multiple_lines', 'internet_service', 'online_security',
    'online_backup', 'device_protection', 'tech_support', 'streaming_tv',
    'streaming_movies', 'contract', 'paperless_billing', 'payment_method',
    'monthly_charges', 'total_charges', 'churn'
]

In [15]:
# Crear nuevo DataFrame con solo las columnas seleccionadas
df_relevante = df_clean[cols_relevantes].copy()

In [24]:
# Confirmar que no haya valores nulos en las columnas seleccionadas
print("\n🔍 Revisión de valores nulos:")
print(df_relevante.isnull().sum())

🔍 Revisión de valores nulos:
gender               0
senior_citizen       0
partner              0
dependents           0
tenure               0
phone_service        0
multiple_lines       0
internet_service     0
online_security      0
online_backup        0
device_protection    0
tech_support         0
streaming_tv         0
streaming_movies     0
contract             0
paperless_billing    0
payment_method       0
monthly_charges      0
total_charges        0
churn                0
dtype: int64

In [20]:
print("🔍 Valores vacíos como string:")
for col in df_relevante.columns:
    vacios = (df_relevante[col] == '').sum()
if vacios > 0:

  print(f"{col}: {vacios} valores vacíos")
else:
  print("No hay valores vacíos como string")

🔍 Valores vacíos como string:
No hay valores vacíos como string

In [25]:
# Revisar tipos de datos
print("\n📋 Tipos de datos por columna:")
print(df_relevante.dtypes)

📋 Tipos de datos por columna:
gender                object
senior_citizen         int64
partner               object
dependents            object
tenure                 int64
phone_service         object
multiple_lines        object
internet_service      object
online_security       object
online_backup         object
device_protection     object
tech_support          object
streaming_tv          object
streaming_movies      object
contract              object
paperless_billing     object
payment_method        object
monthly_charges      float64
total_charges         object
churn                 object
dtype: object

In [26]:
# Convertir total_charges a numérico (en algunos casos puede estar como string)
df_relevante['total_charges'] = pd.to_numeric(df_relevante['total_charges'], errors='coerce')

In [30]:
import numpy as np

# Reemplazar strings vacíos por NaN
df_relevante.replace('', np.nan, inplace=True)

# Convertir total_charges a float
df_relevante['total_charges'] = pd.to_numeric(df_relevante['total_charges'], errors='coerce')


# Mostrar valores nulos tras la conversión
print("🔍 Valores nulos después de reemplazo y conversión:")
print(df_relevante.isnull().sum())

🔍 Valores nulos después de reemplazo y conversión:
gender                0
senior_citizen        0
partner               0
dependents            0
tenure                0
phone_service         0
multiple_lines        0
internet_service      0
online_security       0
online_backup         0
device_protection     0
tech_support          0
streaming_tv          0
streaming_movies      0
contract              0
paperless_billing     0
payment_method        0
monthly_charges       0
total_charges        11
churn                 0
dtype: int64

In [32]:
# Eliminar registros donde churn o total_charges estén vacíos
df_relevante.dropna(subset=['churn', 'total_charges'], inplace=True)

# Resetear el índice por orden
df_relevante.reset_index(drop=True, inplace=True)

# Confirmar el tamaño final del dataset
print(f"\n✅ Dimensiones finales del dataset limpio: {df_relevante.shape}")

✅ Dimensiones finales del dataset limpio: (7032, 20)

##Limpiando categorías

In [34]:
print("\n🔎 Valores únicos por variable categórica:")
categorical_columns = df_relevante.select_dtypes(include='object').columns

for col in categorical_columns:
    print(f"{col}: {df_relevante[col].unique()}")

🔎 Valores únicos por variable categórica:
gender: ['Female' 'Male']
partner: ['Yes' 'No']
dependents: ['Yes' 'No']
phone_service: ['Yes' 'No']
multiple_lines: ['No' 'Yes' 'No phone service']
internet_service: ['DSL' 'Fiber optic' 'No']
online_security: ['No' 'Yes' 'No internet service']
online_backup: ['Yes' 'No' 'No internet service']
device_protection: ['No' 'Yes' 'No internet service']
tech_support: ['Yes' 'No' 'No internet service']
streaming_tv: ['Yes' 'No' 'No internet service']
streaming_movies: ['No' 'Yes' 'No internet service']
contract: ['One year' 'Month-to-month' 'Two year']
paperless_billing: ['Yes' 'No']
payment_method: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
churn: ['No' 'Yes']

In [35]:
# Reemplazar "No internet service" por "No" en las columnas correspondientes
internet_features = [
    'online_security', 'online_backup', 'device_protection',
    'tech_support', 'streaming_tv', 'streaming_movies'
]

for col in internet_features:
    df_relevante[col] = df_relevante[col].replace('No internet service', 'No')

# Reemplazar "No phone service" por "No" en la columna multiple_lines
df_relevante['multiple_lines'] = df_relevante['multiple_lines'].replace('No phone service', 'No')

In [36]:
# Crear la nueva columna dividiendo el cargo mensual por 30 días
df_relevante['cuentas_diarias'] = df_relevante['monthly_charges'] / 30

# Mostrar las primeras filas para confirmar
df_relevante[['monthly_charges', 'cuentas_diarias']].head()

   monthly_charges  cuentas_diarias
0             65.6         2.186667
1             59.9         1.996667
2             73.9         2.463333
3             98.0         3.266667
4             83.9         2.796667

##Estandarizar dato en el DF

In [45]:
binarias = [
    'partner', 'dependents', 'phone_service', 'multiple_lines',
    'online_security', 'online_backup', 'device_protection',
    'tech_support', 'streaming_tv', 'streaming_movies',
    'paperless_billing', 'churn'
]
pd.set_option('future.no_silent_downcasting', True)
# Transformar "Yes" → 1 y "No" → 0
df_relevante[binarias] = df_relevante[binarias].replace({'Yes': 1, 'No': 0})
df_relevante[binarias] = df_relevante[binarias].infer_objects()

#📊 Carga y análisis

In [47]:
# Seleccionar solo columnas numéricas
df_numericas = df_relevante.select_dtypes(include=['number'])

# Análisis descriptivo básico para columnas numéricas
descripcion = df_numericas.describe().T

# Calcular la mediana de cada columna numérica
medianas = df_numericas.median()

# Añadir la mediana al DataFrame resumen
descripcion['median'] = medianas

# Calcular rango intercuartílico (IQR)
iqr = df_numericas.quantile(0.75) - df_numericas.quantile(0.25)
descripcion['IQR'] = iqr

print("Análisis descriptivo numérico:")
print(descripcion)

# Mostrar variables categóricas y sus valores únicos para complementar el análisis
columnas_categoricas = df_relevante.select_dtypes(include=['object']).columns
print("\nColumnas categóricas y sus valores únicos:")
for col in columnas_categoricas:
    print(f"{col}: {df_relevante[col].unique()}")

Análisis descriptivo numérico:
                    count         mean          std        min        25%  \
senior_citizen     7032.0     0.162400     0.368844   0.000000    0.00000
partner            7032.0     0.482509     0.499729   0.000000    0.00000
dependents         7032.0     0.298493     0.457629   0.000000    0.00000
tenure             7032.0    32.421786    24.545260   1.000000    9.00000
phone_service      7032.0     0.903299     0.295571   0.000000    1.00000
multiple_lines     7032.0     0.421928     0.493902   0.000000    0.00000
online_security    7032.0     0.286547     0.452180   0.000000    0.00000
online_backup      7032.0     0.344852     0.475354   0.000000    0.00000
device_protection  7032.0     0.343857     0.475028   0.000000    0.00000
tech_support       7032.0     0.290102     0.453842   0.000000    0.00000
streaming_tv       7032.0     0.384386     0.486484   0.000000    0.00000
streaming_movies   7032.0     0.388367     0.487414   0.000000    0.00000
paperless_billing  7032.0     0.592719     0.491363   0.000000    0.00000
monthly_charges    7032.0    64.798208    30.085974  18.250000   35.58750
total_charges      7032.0  2283.300441  2266.771362  18.800000  401.45000
churn              7032.0     0.265785     0.441782   0.000000    0.00000
cuentas_diarias    7032.0     2.159940     1.002866   0.608333    1.18625

                        50%          75%          max    median          IQR
senior_citizen        0.000     0.000000     1.000000     0.000     0.000000
partner               0.000     1.000000     1.000000     0.000     1.000000
dependents            0.000     1.000000     1.000000     0.000     1.000000
tenure               29.000    55.000000    72.000000    29.000    46.000000
phone_service         1.000     1.000000     1.000000     1.000     0.000000
multiple_lines        0.000     1.000000     1.000000     0.000     1.000000
online_security       0.000     1.000000     1.000000     0.000     1.000000
online_backup         0.000     1.000000     1.000000     0.000     1.000000
device_protection     0.000     1.000000     1.000000     0.000     1.000000
tech_support          0.000     1.000000     1.000000     0.000     1.000000
streaming_tv          0.000     1.000000     1.000000     0.000     1.000000
streaming_movies      0.000     1.000000     1.000000     0.000     1.000000
paperless_billing     1.000     1.000000     1.000000     1.000     1.000000
monthly_charges      70.350    89.862500   118.750000    70.350    54.275000
total_charges      1397.475  3794.737500  8684.800000  1397.475  3393.287500
churn                 0.000     1.000000     1.000000     0.000     1.000000
cuentas_diarias       2.345     2.995417     3.958333     2.345     1.809167

Columnas categóricas y sus valores únicos:
gender: ['Female' 'Male']
internet_service: ['DSL' 'Fiber optic' 'No']
contract: ['One year' 'Month-to-month' 'Two year']
payment_method: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

#📄Informe final